<!DOCTYPE html>
<html lang="utf-8">
<head>
	<meta charset="utf-8">
	<link rel="icon" href="IMG/sweet-pepper-16.ico" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>El Huerto</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="CSS/index.css">
</head>
<body>
	<div id="cuerpo" v-if="todo">
		<div class="top-bar">
			<div class="banner">
				<h1 class="banner-title">El Huerto</h1>
			</div>
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand brand" href="#" v-on:click="navSup()">
					<img src="IMG/sweet-pepper-24.png">
					El Huerto
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barra-resp" aria-controls="barra-resp" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="barra-resp">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						<li v-for="opcion in opciones" class="nav-item">
							<a class="nav-link" href="#" v-on:click="navOpt(opcion)">{{ opcion }}</a>
						</li>
					</ul>
					<span>
						<a href="#" v-on:click="navCart()"><img src="IMG/cart-73-24.png"> Carrito</a>
					</span>
				</div>
			</nav>
		</div>
		<div class="container" v-if="principal">
			<div class="jumbotron">
				<h1 class="display-4">Bienvenidos a <span class="marca">El Huerto</span></h1>
				<p class="lead">Aquí podrás escoger tus productos y poner tu orden para ser entregada en los siguientes días.</p>
				<hr class="my-4">
				<p>Por favor no te olvides de compartir este enlace; te lo agradeceremos muchísimo. <3</p>
			</div>
		</div>
		<div class="container" v-if="categoria">
			<h2>{{view_prods}}</h2>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th scope="col" style="width: 30%">Poducto</th>
						<th scope="col" style="width: 45%">Cantidad</th>
						<th scope="col" style="width: 25%">Total</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="prod in prods">
						<td><b>{{prod.name}}</b><br><i>{{prod.price | quetzales}} / {{prod.unit}}</i></td>
						<td>
							<form class="form-inline">
								<button type="button" class="btn btn-danger s-item" v-on:click="negativo(prod.id)">-</button>
								<input class="form-control s-item s-cantidad" type="text" minlength="1" maxlength="2" size="1" v-model="carrito[prod.id]" disabled>
								<button type="button" class="btn btn-success s-item" v-on:click="positivo(prod.id)">+</button>
							</form>
						</td>
						<td>{{ carrito[prod.id]*prod.price | quetzales}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="container" v-if="cart">
			<h2 class="terminando">Confirmar Orden <img src="IMG/cart-73-32 (1).png"></h2>
			<p class="disclaimer">Por favor revisa tu orden antes de colocarla. Si deseas hacer cambios, vuelve a la categoría en la que quieres hacerlo. Puedes cambiar los valores y regresar aquí.</p>
			<div class="row">
				<div class="col-sm">
					<h3>Datos para Entrega</h3>
					<form v-on:submit.prevent>
						<div class="form-group row">
							<label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="nombre" v-model="user.name" required>
							</div>
						</div>
						<div class="form-group row">
							<label for="telefono" class="col-sm-2 col-form-label">Telefono:</label>
							<div class="col-sm-10">
								<input type="tel" class="form-control" id="telefono" pattern="[0-9]{8}" placeholder="55555555" v-model="user.phone" required>
							</div>
						</div>
						<div class="form-group row">
							<label for="ciudad" class="col-sm-2 col-form-label">Ciudad:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="ciudad" placeholder="El Naranjo, Mixco" v-model="user.city" required>
							</div>
						</div>
						<div class="form-group row">
							<label for="direccion" class="col-sm-2 col-form-label">Direccion:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="direccion" placeholder="1 calle 23-45 zona 6" v-model="user.addr" required>
							</div>
						</div>
						<div class="form-group row totales" v-if="olvido">
							Todos los campos son obligatorios.
						</div>
						<div class="form-group row">
							<div class="col-sm-10">
								<button v-on:click="postOrder()" type="submit" class="btn btn-success enviar">Ordenar</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm">
					<h3>Resumen de Compra</h3>
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th scope="col" style="width: 30%">Poducto</th>
								<th scope="col" style="width: 45%">Cantidad</th>
								<th scope="col" style="width: 25%">Total</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="item in checkout()">
								<td><b>{{por_llaves[item.id].name}}</b><br><i>{{por_llaves[item.id].price | quetzales}} / {{por_llaves[item.id].unit}}</i></td>
								<td>{{ item.ammo }}</td>
								<td>{{ item.ammo*por_llaves[item.id].price | quetzales}}</td>
							</tr>
							<tr class="totales">
								<td><b>Total:</b></td>
								<td></td>
								<td><b>{{total | quetzales}}</b></td>
							</tr>
						</tbody>
					</table>
					<p class="disclaimer">El precio final aumentará dependiendo de la ciudad y la zona a la que se hará la entrega.</p>
				</div>
			</div>
		</div>
		<div class="container" v-if="done">
			<div class="jumbotron">
				<h2>¡Tu orden se ha enviado!</h2>
				<h3>Gracias por escoger los servicios de <span class="marca">El Huerto</span></h3>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="JS/index.js"></script>
</body>
</html>